*.iml
.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.ideaDataSources/
MoneyManagerProto.iws
dataSources/
app/src/main/res/drawable/overflow_dots.png
